<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        :root {
            --primaryColor: #4032a8;
            --secondaryColor: #a89632;
            --whiteColor: #ffffff;
            --tintBlueColor: #33adff;
            --blackColor: #222222;
            --softBlueColor: #3296a8;
            --darkBlueColor: #2550BE;
            --silverColor: #C0C0C0;
            --greyColor: #f5f5f5;
            --yellowColor: #e6b800;
        }
        body {
            background-color: #a89632;
        }
        h1 {
            font-size: 40px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
            color: var(--whiteColor);
        }
    </style>
</head>
<body>
    <h1>This is the About page</h1>
</body>
</html>